/* Estilo para os botões no modal */
.modal-actions {
    display: flex;
    justify-content: center;  /* Centraliza os botões */
    gap: 10px;  /* Adiciona uma pequena margem entre os botões */
    margin-top: 20px;
}

.modal-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #2980b9;
}
