.tooltip-modal {
    position: fixed; /* Fixa a modal na tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center; /* Centraliza a modal horizontalmente */
    align-items: center; /* Centraliza a modal verticalmente */
    font-family: 'Arial', sans-serif; /* Fonte básica */
}

.tooltip-content {
    background-color: white; /* Fundo da modal */
    padding: 20px; /* Preenchimento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    width: 400px; /* Largura fixa da modal */
    max-width: 90%; /* Largura máxima em relação à tela */
    color: black !important; /* Cor do texto para preto */
}

.tooltip-buttons {
    display: flex; /* Usando flexbox para o alinhamento dos botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 15px; /* Margem superior para separar dos textos */
}

.modal-button {
    background-color: #007bff; /* Cor do fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 15px; /* Preenchimento do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor do fundo */
    margin: 0 5px; /* Margem lateral entre os botões */
}

.modal-button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.cancel-button {
    background-color: #dc3545; /* Cor do fundo para o botão de cancelar */
}

.cancel-button:hover {
    background-color: #c82333; /* Cor ao passar o mouse */
}
